<h1 id="inv-title">
    <%= title %>
</h1>
<div id="loginContainer">

    <h1>Welcome to your account</h1>
    <p>
        <%= accountData.account_firstname %>
    </p>
    <p>
        <%= accountData.account_lastname %>
    </p>
    <p>
        <%= accountData.account_email %>
</div>