:root {
  --primary-color: #3285c0;
  --xxs: 0.236em;
  --xs: 0.382em;
  --s: 0.618em;
  --m: 1em;
  --l: 1.618em;
  --xl: 2.618em;
  --xxl: 4.236em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);

  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, nav, header {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: var(--xl);
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-size: var(--l);
}

p {
  font-size: var(--m);
}

.button-styles {
  display: inline-block;
  background-color: #60b1c5;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: clamp(var(--m), var(--l), 2vw);
  font-weight: 600;
  padding: 0.4em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-styles:hover {
  background-color: rgb(83.4891304348, 154.3065217391, 172.0108695652);
}

.button-styles:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(75, 139, 155, 0.3);
}

#top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

#top-header a {
  text-decoration: none;
  color: var(--primary-color);
}

.siteName {
  font-size: var(--xl);
  white-space: nowrap;
  font-weight: 600;
}

#tools {
  font-size: clamp(1vw, var(--l), 5vw);
  margin: 0 25px 0 auto;
  white-space: nowrap;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  color: white;
  font-size: var(--m);
  font-family: Poppins, sans-serif;
  list-style: none;
}


nav a {
  display: block;
  color: white;
  transition: background-color 0.3s ease-out;
  padding: 0 10px;
  border-radius: 4px;
}

nav a:hover {
  background-color: #2a5d84;
}

.hero {
  display: flex;
  background: url("../images/vehicles/delorean.jpg") no-repeat center center;
  background-size: contain;
  width: 100%;
  padding: 20% 0 0 0;
  position: relative;
  min-height: 250px;
}

.call-to-action-container {
  background-color: rgba(255,255,255,0.8);
  width: clamp(200px, 20%, 500px);
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 1em;
  font-weight: 700;
}

.reviews, .upgrades {
  flex: 1;
  text-align: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: var(--xxl);
}

.upgrade-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.upgrade-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #76d2e1;
  padding: 1rem;
  border-radius: 4px;
}

.upgrade-item a {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}

.upgrade-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.reviews-upgrades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--xl);
}

.review-wrapper {
  font-size: var(--l);
  width: fit-content;
  align-self: center;
}

.reviews ul {
  text-align: left;
}

/*inventory view*/
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--xl);
  width: 80%;
  align-self: center;

}
#inv-display {
  list-style: none;
}


#inv-display li {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  opacity: 0;
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 0.75s;
}

#inv-display li:nth-child(1) {
  animation-delay: 0.5s;
}

#inv-display a {
  color: black;
  font-size: var(--s);
  font-weight: 600;
  text-decoration: none;
  
}

#inv-display img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#inv-title {
  margin: var(--s);
}

/*details view*/
.vehicle-detail {
  display: flex;
  flex-direction: column;
  gap: var(--l);
  margin: var(--l) 0;
}

.vehicle-detail img {
  max-width: 100%;
  height: auto;
    margin: 10px;
}

.vehicle-info h2 {
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  #inv-display {
    width: 60%;
  }
  .vehicle-detail {
    flex-direction: row;
    align-items: flex-start;
  }
  .vehicle-detail img {
    width: 50%;
    margin: 20px;
  }
  .vehicle-info {
    flex: 1;
  }
}



@media screen and (min-width: 401px) {
  #top-header {
    flex-direction: row;
  }
  nav ul {
    font-size: var(--l);
  }
}

@media screen and (min-width: 673px) {
  h2, h3, h4, h5, h6 {
    font-size: var(--l);
  }
  nav ul {
    font-size: var(--xl);
    padding: var(--xs);
    margin-bottom: var(--s);
  }
  .reviews {
    margin-top: 0;
  }
}